body {
    background-color: black;
    color: white;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    background-color: darkblue;
    width: 1000px;
    text-align: center;
}

.flex-container {
text-align: left;
}

.flex-container-2 {
text-align: left;
}

h3 {
    background-color: darkorchid;
    width: 1000px;
    text-align: center;
    font-size: x-large;
    border-color: white;
    border-style: solid;
    border-width: 2px;
}

h4 {
    text-align: center;
    text-decoration: underline;
}